.boxVertical{
    width: 40px;
    height: 100px;
    border: 1px solid black;

    &.boxVerticalColor2{
        background-color: $playerColor2;
    }

    &.boxVerticalColor3{
        background-color: $playerColor3;
    }

    &.boxVerticalStar{
        background-color: grey;      
    }
}

.boxHorizontal{
    height: 40px;
    border: 1px solid black;
    &.boxHorizontalColor1{
        background-color: $playerColor1;
    }

    &.boxHorizontalColor4{
        background-color: $playerColor4;
    }

    &.boxHorizontalStar{
        text-align: center;
        background-color: grey;
    }
}
