.coin{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border-style: inset;
    
    &.coinPlayer1{
        background-color: $playerColor1;
    }

    &.coinPlayer2{
        background-color: $playerColor2;
    }

    &.coinPlayer3{
        background-color: $playerColor3;
    }

    &.coinPlayer4{
        background-color: $playerColor4;
    }
}
