.home{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
     

    &.home1{
        background-color: $playerColor1;
        border-radius: 20% 0% 0% 0%;       
    }

    &.home2{
        background-color: $playerColor2;       
        border-radius: 0% 20% 0% 0%;
    }

    &.home3{
        background-color: $playerColor3;
        border-radius: 0% 0% 0% 20%;
    }

    &.home4{
        background-color: $playerColor4;
        border-radius: 0% 0% 20% 0%;     
    }

}

.roundHome{
    height: 250px;
    width: 250px;
    border-radius: 250px;
    border-style: inset;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.roundHome1{
        background: linear-gradient(to left, $playerColor1, white);
    }

    &.roundHome2{
        background: linear-gradient(to left, $playerColor2, white);
    }

    &.roundHome3{
        background: linear-gradient(to left, $playerColor3, white);
    }

    &.roundHome4{
        background: linear-gradient(to left, $playerColor4, white);
    }

}

