
.trapezoidUp{
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        height: 0;
        width: 380px;
        border-top: 80px solid $playerColor1;
        margin-top: 20px;
        margin-left:-15px;
    }

.trapezoidRight{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    height: 0;
    width: 260px;
    border-top: 80px solid $playerColor2;
    transform: rotate(90deg);
    margin-left: 195px;
    margin-top: 10px;
    }

.trapezoidDown{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    height: 0;
    width: 380px;
    border-top: 80px solid $playerColor4;
    align-self: flex-end;
    transform: rotate(180deg);
    margin-left:-15px;  
    margin-top: 10px;
    }

.trapezoidLeft{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    height: 0;
    width: 260px;
    border-top: 80px solid $playerColor3;
    transform: rotate(-90deg);
    margin-left: -105px;
    margin-top:-80px;        
    }
