//SETTINGS


//Folders

$imagesFolder: '../static/';

//Colors

//THEME 1

$playerColor1: blue;
$playerColor2: yellow;
$playerColor3: red;
$playerColor4: green;


/*$primary:       #80e4ed; 
$secondary:     #4f7cac;
$success:       #449353;
//$danger:        #F67280;
$info:          #b5ddbd;
//$warning:       #FF7E67;
$light:         #f0f0f0;
$dark:          #6b6b6b;*/

//THEME 2

/*$primary:       #F7D93E; 
$secondary:     #E4A41B;
$success:       #184C54;
$info:          #AAD65B;
$light:         #F7E898;
$dark:          #6b6b6b;*/

//THEME 3

/*$primary:       #F7D93E; 
$secondary:     #95C795;
$success:       #B3244C;
$info:          #6B1212;
$light:         #F0F0F0;
$dark:          #C44D3B;*/

//THEME 4

/*$primary:       #97998B; 
$secondary:     #4F9E7E;
$success:       #757170;
$info:          #B9CCB8;
$light:         #F0F0F0;
$dark:          #72BD9C;*/

//THEME 5

/*$primary:       #97998B; 
$secondary:     #88C425;
$success:       #519548;
$info:          #1B676B;
$light:         #EAFDE6;
$dark:          #BEF202;*/

//THEME 6

/*$primary:       #97998B; 
$secondary:     #88C425;
$success:       #519548;
$info:          #1B676B;
$light:         #EAFDE6;
$dark:          #BEF202;*/

//THEME 7

$primary:       #429EFF; 
$secondary:     #CFE6FF;
$success:       #404040;
$info:          #2C629C;
$light:         #FFFFFF;
$dark:          #ABABAB;
$danger:        #2C9C56

